._contact {
  width: $per;
  height: $vh;
  background: #000;
  position: $re;
  display: $f;
  justify-content: flex-start;
  align-items: $c;
  ._contact_bg_clip {
    position: $ab;
    width: $per;
    height: $vh;
    background: $red;
    clip-path: circle(0%);
<<<<<<< HEAD
    opacity: 1;
    z-index: -1;
  }
  ._contact_child {
    z-index: 1;
    width: $perhelf;
    display: $f;
    justify-content: $c;
    align-items: $c;
    position: $re;
    ._contact_Title {
      overflow: hidden;
      height: 200px;
      h1 {
        margin: 0;
        font-size: calc($size - 3em);
        letter-spacing: 30px;
        padding: 0;
        font-family: "Maragsa";
        font-weight: 200;
        text-align: $c;
        color: #fff;
        transform: translate(0, 200px);
        opacity: 0;
      }
    }
    ._contact__content_address {
      position: absolute;
      top: 48%;
      right: -10%;
      font-family: $font;
      overflow: hidden;
      height: 100px;
      p {
        transform: translate(0, 100px);
        color: #fff;
        font-weight: $b;
        opacity: 0;
      }
      h2 {
        transform: translate(0, 100px);
        color: #000;
        opacity: 0;
      }
    }
=======
    top: 0;
>>>>>>> 84c0e4f9fafc4ecea11dd5238d06172f8c610f9f
  }
}
