._contact {
  width: $per;
  height: $vh;
  background: #000;
  position: $re;
  ._contact_bg_clip {
    position: $ab;
    width: $per;
    height: $vh;
    background: $red;
    clip-path: circle(0%);
    top: 0;
  }
}
