._review {
  width: $per;
  height: $vh;
  perspective: 1000px;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  background: linear-gradient(to left, $red 51%, #000 50.5%);
  position: $re;
  ._reviews_Title {
    position: $ab;
    display: $f;
    justify-content: $c;
    align-items: $c;
    top: 20%;
    transform: rotate(90deg);
    span {
      font-size: 8em !important;
      text-transform: uppercase;
      font-family: "Maragsa";
      mix-blend-mode: difference;
      color: #fff;
      text-align: $c;
      transform: translate(150px, 150px);
    }
  }
  ._reviews_Child {
    width: $perhelf !important;
    display: $f;
    justify-content: flex-start;
    align-items: $c;
    position: $re;
  }
  ._reviews_Child_each {
    position: $ab;
    width: 360px;
    display: $f;
    justify-content: $c;
    align-items: $c;
    box-shadow: 0 200px 350px 0px rgba(0, 0, 0, 1);
    max-height: 510px;
    img {
      width: 360px;
      height: 520px;
      object-fit: $cv;
    }
    ._reviews_Child_each_textContent {
      position: $ab;
      right: -20%;
      -webkit-text-stroke: 0.2px #fff;
      font-weight: $b;
      h2 {
        color: $red;
        font-family: "Maragsa";
        font-size: 4em;
        margin: 0;
      }
      ._reviews_discover {
        display: $f;
        justify-content: $sp;
        align-items: $c;
        width: 300px;
      }
    }
  }
  .each_rev_textContent {
    background: linear-gradient(to right,#FFF 50% , #000 50%);
    width:160px;
    height:200px;
    position: $ab;
    bottom: 0;
    right: 46%;
    display: $f;
    justify-content: $c;
    align-items: $c;
    span{
      font-size: 10em;
      position: $ab;
      left:0%;
      right: 0%;
      top:8%;
      color: red;
    }
  }
}
